<div ng-if="isAdmin()">
  <div ng-if="!started" align="center">
      <div class="col-md-7" style="padding-left:0;">
        <input class ="form-control input-sm" type="number" placeholder="Duration" min="1" ng-model="AttendanceModel.duration" integer/>
      </div>
      <div class="col-md-2 col-md-offset-1">
        <button class="btn btn-sm btn-info" ng-click="start()">Take Attendance</button></div>
      </div>
    </div>
  <div ng-if="started">
    <h4>{{presentCount}} students present</h4>
  </div>
</div>



<div ng-if="!isAdmin()">
  I am not admin

  <div ng-if="started">
    <div ng-if="!clickedAttend">
      <br/>
      <button class="btn btn-lg btn-success" ng-click="attend()">Attend</button>
    </div>

    <div ng-if="clickedAttend">
      <br/>
      <button class="btn btn-lg btn-success">In Attendance</button>
    </div>
  </div>
</div>
<div ng-if="AttendanceError">{{AttendanceError}}</div>
