<div ng-if="isAdmin()">
  <!-- <div ng-if="!started"> 
    <input class ="form-control" type="number" placeholder="Duration" ng-model="AttendanceModel.duration" integer/>
    <br/>
    <button class="btn btn-sm btn-info" ng-click="start()">Take Attendance</button>
  </div> -->
  
    <h4>{{confusedCount}} students confused :(</h4>
    <br>
    <button class="btn btn-lg btn-success" ng-click="reset()">Reset</button>
    
    
    <!-- <div ng-if="!clickedAttend">
      <br/>
      <button class="btn btn-lg btn-success" ng-click="attend()">Attend</button>
    </div> -->
    
    <!-- <div ng-if="clickedAttend">
      <br/>
      <button class="btn btn-lg btn-success">In Attendance</button>
    </div> -->
</div>



<div ng-if="!isAdmin()">
    <div ng-if="!isConfused">
      <br/>
      <button class="btn btn-lg btn-success" ng-click="addConfused()">I'm useless</button>
    </div>
    
    <div ng-if="isConfused">
      <br/>
      <button class="btn btn-lg btn-success">YAY FAILURE</button>
    </div>
  </div>
<div ng-if="ConfusedError">error: {{ConfusedError}}</div>
