<div class="modal-header">
  <h3 class="modal-title">New Question</h3>
</div>
<div class="modal-body">
  <textarea class="form-control" rows="4" name="question" ng-model="QuestionModel.text" placeholder="Enter a question"></textarea>
  <h5>Type</h5>
  <div class="radio">
    <label><input type="radio" name="type" ng-click="QuestionModel.type = 'TF'">True/False</label>
  </div>
  <div class="radio">
      <label><input type="radio" name="type" ng-click="QuestionModel.type = 'MC'">Multiple Choice</label>
  </div>
  <div class="radio">
      <label><input type="radio" name="type" ng-click="QuestionModel.type = 'OR'">Open Response</label>
  </div>
  <h5 ng-if="QuestionModel.type">Answer</h5>
  <div ng-if="QuestionModel.type === 'MC'">

      <div class="btn-group" ng-repeat="answer in QuestionModel.mcAnswers track by $index">
          <label>
              {{getLetter($index)}})&nbsp;
              <input type="text" name="answer" ng-model="QuestionModel.mcAnswers[$index]">
              <button class="btn btn-sm btn-primary" ng-click="QuestionModel.mcAnswers.splice($index, 1)">-</button>
          </label>

      </div>
      <br/>
      <div class="btn-group">
          <label>
              Add Answer<button class="btn btn-sm btn-primary" ng-click="QuestionModel.mcAnswers.push('')">+</button>
          </label>
      </div>

      <div class="btn-group" dropdown>
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                 {{QuestionModel.mcAnswer}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="answer in QuestionModel.mcAnswers track by $index" ng-click="QuestionModel.mcAnswer = getLetter($index)"><a>{{getLetter($index)}}</a></li>
            </ul>
          </div>
  </div>
  <div ng-if="QuestionModel.type === 'TF'">
      <div class="radio">
          <label><input type="radio" name="answer" ng-click="QuestionModel.tfAnswer = 'true'">True</label>
      </div>
      <div class="radio">
          <label><input type="radio" name="answer" ng-click="QuestionModel.tfAnswer = 'false'">False</label>
      </div>
  </div>
  <div ng-if="QuestionModel.type === 'OR'">
      <label>
          <input type="text" name="answer" ng-model="QuestionModel.orAnswer" placeholder="Answer">
      </label>
  </div>
  <br/>
  <div ng-if="QuestionModel.error">{{QuestionModel.error}}</QuestionModel></div>
  <hr>
  <div class="container-fluid" align="center">
    <button class="btn btn-success" ng-click="submitToggle()">Create</button>
  </div>
</div>
