<div ng-if="isAdmin()">
	<button class="btn btn-sm btn-info pull-right" ng-click="open('md', authentication.user)">New Question</button>
	<div class="input-group" ng-if="creatingQuestion">
		<h5>New Question</h5>
	</div>

	<div ng-if="activeQuestion">
		<h4>Active Question:</h4>
		<div id="activeQuestionRow" class="row">
			<div class="col-md-12">
				<b>{{activeQuestion.text}}</b>
				<div style="padding-left:15px;">
					<div ng-if="activeQuestion.type !== 'MC'">
						<span ng-class="activeQuestion.answer === 'true' ? 'text-success' : ''">true</span>
						<br>
						<span ng-class="activeQuestion.answer === 'false' ? 'text-success' : ''">false</span>
					</div>
				</div>
			</div>
		</row>
		<div id="activeQuestionStatsRow" class="row">
			<div class="col-md-12 dl-horizontal" align="center">
				<dl>
					<small>
						<dt class="text-success">Correct Answers</dt>
						<dd class="text-success">{{activeQuestion.correctCount}}</dd>
						<dt class="text-danger">Incorrect Answers</dt>
						<dd class="text-danger">{{activeQuestion.incorrectCount}}</dd>
						<dt class="text-info">Haven't Answered</dt>
						<dd class="text-info">{{authentication.course.students.length - activeQuestion.correctCount - activeQuestion.incorrectCount}}</dd>
					</small>
				</dl>
			</div>
		</div>
			<div class="row" align="center">
				<div class="col-md-6 col-md-offset-1">
					<b>Time Remaining</b> {{activeQuestion.tR.getMinutes()}}:<span ng-if="activeQuestion.tR.getSeconds() < 10">0</span>{{activeQuestion.tR.getSeconds()}}
				</div>

				<div class="col-md-2 col-md-offset-1">
					<button class="btn btn-xs btn-danger" ng-click="closeQuestion()">Stop</button>
				</div>
			</div>
		</div>
	<hr>
</div>

<h4>Questions</h4>

<div id="questionRow" class="row">
	<div class="col-md-12" ng-repeat="question in questions">
		<b>{{question.text}}</b>
		<div style="padding-left:15px;">
			<div ng-if="question.type !== 'MC'">
				<span ng-class="question.answer === 'true' ? 'text-success' : ''">true</span>
				<br>
				<span ng-class="question.answer === 'false' ? 'text-success' : ''">false</span>
			</div>
			<div ng-if="question.type === 'MC'">
				<span ng-repeat="answer in question.mcAnswers track by $index" ng-class="{'text-success' : getLetter($index) == question.answer}">{{getLetter($index)}})&nbsp;{{answer}}<br/></span>
				<br>
			</div>
			<div class="container-fluid" align="center">
				<label> Duration (seconds)
					<input type="number" min="1" name="duration" placeholder="Duration" style="padding-top:2px;" ng-model="question.duration"></input>
				</label>
				<button class="btn btn-xs btn-success customXs" ng-click="startQuestion(question)">Start</button>
			</div>
		</div>
		<hr>
	</div>
	<hr>
</div>
<h4>Statistics</h4>
</div>

<div ng-if="!isAdmin()">
	<div ng-if="!activeQuestion">
		<div style="padding-left:15px;">
			No active questions
			<p ng-if='hasAnswered === true'> You answered: {{answer}}</p>
		</div>
	</div>
	<div ng-if="activeQuestion">
		<div id="activeQuestionRow" class="row">
			<b>{{activeQuestion.text}}</b>
			<div class="input-group" style="padding-left:15px;">
				<div ng-if="activeQuestion.type === 'TF'">

					<div ng-if="!answer">
						<!-- NONE -->
						<div class="radio">
							<label><input type="radio" name="answer" ng-click="activeQuestion.answer = 'true'">True</label>
						</div>
						<div class="radio">
							<label><input type="radio" name="answer" ng-click="activeQuestion.answer = 'false'">False</label>
						</div>
					</div>

						<div ng-if="answer.text === 'true'">
							<div class="radio">
								<label><input type="radio" name="answer" ng-click="activeQuestion.answer = 'true'" checked="checked">True</label>
							</div>
							<div class="radio">
								<label><input type="radio" name="answer" ng-click="activeQuestion.answer = 'false'">False</label>
							</div>
						</div>

						<div ng-if="answer.text === 'false'">
							<div class="radio">
								<label><input type="radio" name="answer" ng-click="activeQuestion.answer = 'true'">True</label>
							</div>
							<div class="radio">
								<label><input type="radio" name="answer" ng-click="activeQuestion.answer = 'false'" checked="checked">False</label>
							</div>
						</div>
				</div>
				<div ng-if="activeQuestion.type === 'MC'">
					<div class="radio">
						<label ng-repeat="mcAnswer in activeQuestion.mcAnswers track by $index">
							<input type="radio" name="answer" ng-click="activeQuestion.answer = getLetter($index)">{{getLetter($index)}}) {{mcAnswer}}
						</label>
					</div>
				</div>
				<div ng-if="activeQuestion.type === 'OR'">
					<label>
						<input type="text" name="answer" ng-model="activeQuestion.answer" placeholder="Answer">
					</label>
				</div>
				<div class="row">
					<div class="col-md-12" align="center">
						<b>Time Remaining</b> {{activeQuestion.tR.getMinutes()}}:<span ng-if="activeQuestion.tR.getSeconds() < 10">0</span>{{activeQuestion.tR.getSeconds()}}
					</div>
				</div>
				<div ng-if="activeQuestion.error">
					{{activeQuestion.error}}
				</div>
				<div class="container-fluid" align="center">
					<div ng-if="!hasAnswered">
						<button class="btn btn-sm btn-success" ng-click="submitAnswer()">Submit</button>
					</div>
					<div ng-if="hasAnswered">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
