<section class="row" data-ng-controller="AuthenticationController"rs>

	<!-------- Title -------->
	<!--<h3 class="col-md-12 text-center">Sign In to ClassBoard</h3>-->
<div style="height:75px;"></div>
<div  class="col-xs-12 col-md-12">

	<!-------- SignUp -------->
	<div class="col-xs-5 col-md-5">
		<div class="row">
			<h3 class="col-md-12 text-center">Sign Up for ClassBoard</h3>
		</div>
		<hr>
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
				</div>

				<div class="form-group">
					<label for="uid">UID</label>
					<input type="text" id="uid" name="uid" class="form-control" data-ng-model="credentials.uid" placeholder="fuck yourself">
				</div>

				<div class="form-group">
					<label for="school">School</label>
					<input type="text" id="school" name="school" class="form-control" data-ng-model="credentials.school" placeholder="suck a dick">
				</div>

				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
					<a href="/#/signin" class="show-signup">Sign in</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>

	<!-------- SignIn -------->
	<div class="col-xs-offset-2 col-xs-5 col-md-offset-2 col-md-5">
		<div class="row">
			<h3 class="col-md-12 text-center">Sign In to ClassBoard</h3>
		</div>
		<hr>
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary">Sign in</button>
					&nbsp; or&nbsp;
					<a href="/#/password/forgot">Forgot password?</a>
					<!--&nbsp; or&nbsp;
					<a href="/#/signup">Sign up</a>-->
				</div>
				<!--<div class="forgot-password">
					<a href="/#/password/forgot">Forgot your password?</a>
				</div>-->
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>

</div>

</section>
