<span ng-controller="DashboardController">
	<div class="dashboard row">

		<!---- ROW 1 ---->
		<div class="dashboard row" ng-if="user.classes[0]._id">
			<div ng-class="showQuiz ? 'col-xs-4 animated bounceIn one widg' :  'col-xs-4 animated bounceOut one widg'">
				<widget title="Quiz">
					<quiz></quiz>
				</widget>
			</div>

			<div ng-class="showAttendance ? 'col-xs-4 animated bounceIn two widg' :  'col-xs-4 animated bounceOut one widg'">
				<widget title="Attendance">
					<attendance></attendance>
				</widget>
			</div>

			<div ng-class="showConfused ? 'col-xs-4 animated bounceIn three widg' :  'col-xs-4 animated bounceOut one widg'">
				<widget title="I'm Confused" class="widgDefault" >
					<confused></confused>
				</widget>
			</div>
		</div>

		<!---- ROW 2 ---->
		<div class="dashboard row" ng-if="user.classes[0]._id">
			<div ng-class="showWolfram ? 'col-xs-4 animated bounceIn four widg' :  'col-xs-4 animated bounceOut one widg'">
				<widget title="Wolfram|Alpha" class="widgDefault" >
					<div>
						<iframe id="wolframIframe" frameborder="0" marginwidth="0" src="http://www.wolframalpha.com/Calculate/embed/medium.jsp"></iframe>
					</div>
				</widget>
			</div>
		</div>
	</div>

	<div  id="widgetLibrary" ng-class="showLibrary ? 'dashboard row libShown' : 'dashboard row libClosed'"> <!--  ng-if="showLibrary" wtf... this is breaking things -->
		<h3 id="widgetLibraryHeader">Add or Remove Widgets</h3>
		<hr id="widgetLibraryBreak">
		<div id="widgetLibraryButtons" class="row">
			<div class="col-md-3 col-md-offset-1">
				<!---- BTN 1 ---->
				<div class="row wdgtRow">
					<div class="row" ng-click="showQuiz = !showQuiz">
						<div class="col-md-1">
							<span ng-class="showQuiz ? 'glyphicon glyphicon-check showWidgGlyph' : 'glyphicon glyphicon-unchecked'"></span>
						</div>
						<div class="col-md-10">
							Quiz
						</div>
					</div>
				</div>
				<!---- BTN 4 ---->
				<div class="row wdgtRow">
					<div class="row" ng-click="showWolfram = !showWolfram">
						<div class="col-md-1">
							<span ng-class="showWolfram ? 'glyphicon glyphicon-check showWidgGlyph' : 'glyphicon glyphicon-unchecked'"></span>
						</div>
						<div class="col-md-10">
							Wolfram|Alpha
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<!---- BTN 2 ---->
				<div class="row wdgtRow">
					<div class="row" ng-click="showAttendance = !showAttendance">
						<div class="col-md-1">
							<span ng-class="showAttendance ? 'glyphicon glyphicon-check showWidgGlyph' : 'glyphicon glyphicon-unchecked'"></span>
						</div>
						<div class="col-md-10">
							Attendance
						</div>
					</div>
				</div>
				<!---- BTN 5 ---->
			</div>
			<div class="col-md-3">
				<!---- BTN 3 ---->
				<div class="row wdgtRow">
					<div class="row" ng-click="showConfused = !showConfused">
						<div class="col-md-1">
							<span ng-class="showConfused ? 'glyphicon glyphicon-check showWidgGlyph' : 'glyphicon glyphicon-unchecked'"></span>
						</div>
						<div class="col-md-10">
							I'm Confused
						</div>
					</div>
				</div>
				<!---- BTN 6 ---->
			</div>
		</div>
	</div>

	<div id="widgetBtnLibrary">
		<button id="widgetBtn" ng-class="showLibrary ? 'btn btn btn-info glyphicon glyphicon-minus widgLibBtnOpen' : 'btn btn btn-info glyphicon glyphicon-plus widgLibBtnClose'" id="widgetLibraryBtn"ng-click="showLibrary = !showLibrary"></button>
	</div>
</span>
