<div class="container" data-ng-controller="HeaderController">
	<a href="/#/" class="navbar-brand">ClassBoard</a>
		<ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
			<!--<li ui-route="/signup" ng-class="{active: $uiRoute}">
				<a href="/#/signup">Sign Up</a>
			</li>
			<li class="divider-vertical"></li>-->
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<a href="/#/signin">Sign In<small> (or up)</small></a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right" data-ng-hide="!authentication.user">
			<li ui-route="/signin" ng-class="{active: $uiRoute}">
				<!--<button class="btn btn-primary pull-right" ng-click="logOut()">Logout</button>-->
			<a href="/#" ng-click="logOut()">Logout</a>
			</li>
		</ul>
</div>
