<section class="row" data-ng-controller="SetupController">
	<!-------- Title -------->
<div style="height:75px;"></div>
<div  class="col-xs-12 col-md-12">

	<!-------- Enroll In Class -------->
	<div class="col-xs-5 col-md-5">
		<div class="row">
			<h3 class="col-md-12 text-center">Enroll in a Class</h3>
		</div>
		<hr>
		<form data-ng-submit="enroll()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="title">Title</label>
					<input type="text" required name="title" class="form-control" data-ng-model="Enroll.title" placeholder="Title">
				</div>
				<div class="form-group">
					<label for="code">Class Code</label>
					<input type="text" name="code" class="form-control" data-ng-model="Enroll.code" placeholder="Class Code">
				</div>
				<div class="text-center form-group">
					<button type="Enroll" class="btn btn-primary">Enroll</button>
				</div>
				<div data-ng-show="Enroll.error" class="text-center text-danger">
					<strong data-ng-bind="Enroll.error"></strong>
				</div>
			</fieldset>
		</form>
	</div>

	<!-------- Create Class -------->
	<div class="col-xs-offset-2 col-xs-5 col-md-offset-2 col-md-5">
		<div class="row">
			<h3 class="col-md-12 text-center">Create Class</h3>
		</div>
		<hr>
		<form data-ng-submit="createClass()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="title">Title</label>
					<input type="text" name="title" class="form-control" data-ng-model="CreateClass.title" placeholder="Title">
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
				<div data-ng-show="CreateClass.error" class="text-center text-danger">
					<strong data-ng-bind="CreateClass.error"></strong>
				</div>
			</fieldset>
		</form>
	</div>

</div>

</section>
