.dashboard{
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
.dashboard > div {
	padding: 0;
	margin: 0;
}
.dashboard > div:first-child {
	padding: 0 15px 0 0;
	margin: 0;
}
.dashboard > div:last-child {
	padding: 0 0 0 15px;
	margin: 0;
}

.content{
	position: absolute;
	top: 50px;
	width: 100vw;
	height: calc(100vh - 50px);
	padding: 15px;
/*********************BACKGROUND OPTIONS******************
  background-color: rgb(190,212,212);
	background-color: rgb(143,156,161);
	background-image: url( http://api.thumbr.it/whitenoise-361x370.png?background=8f9ca1ff&noise=626262&density=35&opacity=25);

*/
	background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=e6e6e0ff&noise=626262&density=35&opacity=10);
}

.widgDefault{
	color:black;
	background-color:white;
	-webkit-transition: all 1s; /* Safari */
	transition: all 1s;
}
.widgSettings{
	color:white;
	background-color:#9954bb;
	-webkit-transition: all 1s; /* Safari */
	transition: all 1s;
}
.widgSettingsBtnDefault{
  color: #ffffff;
  background-color: #9954bb;
  border-color: #9954bb;
	-webkit-transition: all 1s; /* Safari */
	transition: all 1s;
}
.widgSettingsBtnSettings{
  color: #9954bb;
  background-color: #ffffff;
  border-color: #ffffff;
	-webkit-transition: all 1s; /* Safari */
	transition: all 1s;
}
.widgSettingsBtnSettings:focus{
	outline: 0;
  color: #9954bb;
  background-color: #ffffff;
  border-color: #ffffff;
	-webkit-transition: all 1s; /* Safari */
	transition: all 1s;
}
