.navbar-default {
  background-color:#121212;
}
.navbar-default .navbar-nav > li > a{
  -webkit-transition: color .25s; /* Safari */
  transition: color .25s;
}
.navbar-default .navbar-nav > li > a:hover{
  background-color:#050505;
  color:#2780e3;
}
.navbar-default .navbar-brand{
  -webkit-transition: color .25s; /* Safari */
  transition: color .25s;
}
.navbar-default .navbar-brand:hover{
  background-color:#050505;
  color:#2780e3;
}

.navbar-class
{
    position: absolute;
    width: 100%;
    left: 0;
    top:-12px;
    text-align: center;
    margin: auto;
}
#className{
  color:white;
}
#className:hover{
  color:white;
  text-decoration:none;
  cursor:default;
}
#className:focus{
  text-decoration:none;
}
/*.navbar-center {
  float: center !important;
}

.navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
}
*/

.dropdown{
  opacity:1.0;
}
.navDropDown{
  border-top:0;
  background-color:#121212;
  color:white;
  max-height:237px;
  overflow-y:auto;
}
.navbar-nav > li > .dropdown-menu {
  opacity:1.0;
  margin-top:-1px;
}
.dropdown-menu > li > a {
  color:white;
  -webkit-transition: color .25s; /* Safari */
  transition: color .25s;
}
.dropdown-menu > li > a:hover {
  color:#2780e3;
  background-color:#090909;
}
li.no-classes {
  display: block;
}
li + li.no-classes {
  display: none;
}

#classInfoDropDown{
  position:absolute;
  width:400px;
  left:50%;
  margin-left:-200px;
  margin-top:10px;
}
