#navHolder{
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
}
.navbar-default {
  background-color:#121212;
}
.navbar-default .navbar-nav > li > a{
  -webkit-transition: color 2s; /* Safari */
  transition: color 2s;
}
.navbar-default .navbar-nav > li > a:hover{
  background-color:#050505;
  color:#2780e3; /* BLUE */
  -webkit-transition: color .25s; /* Safari */
  transition: color .25s;
}
.navbar-default .navbar-brand{
  -webkit-transition: color 2s; /* Safari */
  transition: color 2s;
}
.navbar-default .navbar-brand:hover{
  background-color:#050505;
  color:#2780e3; /* BLUE */
  -webkit-transition: color .25s; /* Safari */
  transition: color .25s;
}

.navbar-class{
  position: absolute;
  width: 100%;
  left: 0;
  top:-12px;
  text-align: center;
  margin: auto;
}
#className{
  color:white;
	-webkit-transition: color 2s; /* Safari */
	transition: color 2s;
}
#className:hover{
  color:#2780e3; /* BLUE */
  text-decoration:none;
  cursor:default;
	-webkit-transition: color .25s; /* Safari */
	transition: color .25s;
}
#className:focus{
  text-decoration:none;
}
.dropdown-menu {
  display:none; /* FIRE FOX FIX for dropdowns*/
  opacity:0;
}
.navDropDown{
  border-top:0;
  background-color:#121212;
  color:white;
  max-height:237px;
  overflow-y:auto;
}
.navbar-nav > li > .dropdown-menu {
  margin-top:-1px;
}
.dropdown-menu > li > a {
  color:white;
  -webkit-transition: color 1s; /* Safari */
  transition: color 1s;
}
.dropdown-menu > li > a:hover {
  color:#2780e3; /* BLUE */
  background-color:#090909;
  -webkit-transition: color .25s; /* Safari */
  transition: color .25s;
}
li.no-classes {
  display: block;
}
li + li.no-classes {
  display: none;
}

#classInfoDropDown{
  position:absolute;
  width:400px;
  left:50%;
  margin-left:-200px;
  margin-top:10px;
}
