<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css' />
    <link rel='stylesheet' href='/includes/bootstrap/css/bootstrap.min.css' />
  </head>
  <body>
    <div class='container' style='background-color:blue;'>
      <div class='row vertical-center-row' style='background-color:red;'>
        <div class='col-md-4 col-md-offset-4' style='background-color:white;'>
            <h1><%= title %></h1>
            <div><%= message %>this is a message</div>

          <form method="post" action="/user/auth">
            <div class='row'>
              User Name: <input type="text" name="username">
            </div class='row'>
            <div>
              Password:  <input type="password" name="password">
            </div class='row'>
            <div>
              <button class="btn btn-default">Sign In</button>
              <button class="btn btn-primary" href="/user/signUp">Sign Up</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </body>
</html>
