<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%=  title %></h1>
    <p><%= subtitle %></p>

    <div><%= message %></div><br>

    <form method="post" action="/user/createUser">
      Setting 1: <input type="text" name="setting1"> <br>
      Setting 2:  <input type="text" name="setting2"> <br>
      <button>Update dem settangs</button>
    </form>
    <p><a href="/user/main">Back to Login</a></p>
  </body>
</html>
